.logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.link {
  color: #61dafb;
}

.notificationWrapper {
  position: relative;
}

.notificationCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  border-radius: 50%;
  color: white;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.notificationIcon {
  height: 30px;
  pointer-events: none;
  margin-left: 15px;
}

.usernameWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.openedNotifications {
  position: absolute;
  right: 0;
  top: 30px;
  background-color: #ccc;
  width: 300px;
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 4px;
  padding: 20px;
  color: #282c34;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
